<div class="principal">
    <div class="row align-items-center">
        <div class="col">
            <img align="left" src="/assets/conteudo/paw-print.svg" alt="">
            <h2>4 Patas</h2>
        </div>
        <div class="col">
            Bem vindo, ONG
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger" (click)="btn_criar_caso()"><b>Cadastrar novo caso</b></button>
            <button type="button" class="btn btn-outline-danger"><span class="material-icons">
                    power_settings_new
                </span></button>
        </div>
    </div>


    <div class="row align-items-start">
        <h3>
            Casos cadastrados
        </h3>
    </div>

</div>

<div id=interna>
    <div id="card-casos">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h6 class="card-title"><b>CASO: </b></h6>
                    <p class="card-text">Gato Felix</p>
                    <h6 class="card-title"><b>DESCRIÇÃO: </b></h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content. Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h6 class="card-title"><b>VALOR: </b></h6>
                    <p class="card-text">R$100</p>
                </div>
                <div class="col-md-1">
                    <a routerLink="/ong" routerLinkActive="active"><span class="material-icons">
                        delete
                    </span></a>
                </div>
            </div>
        </div>
    </div>
</div>