<div class="principal">
    <div class="row align-items-center">
        <div class="col">
            <img class="logo" align="left" src="/assets/conteudo/paw-print.svg" alt="">
            <h2>4 Patas</h2>
        </div>
        <div class="col">
            Bem vindo, {{ doador }}
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-danger" (click)="deslogar()"><span class="material-icons">
                    power_settings_new
                </span></button>
        </div>
    </div>


    <div class="row align-items-start">
        <h3>
            Casos detalhado
        </h3>
    </div>

</div>

<div id=interna>
    <div class="row">

        
        <div class="col-4">
            <div id="card-casos">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title"><b>Salve o dia!</b></h6>
                            <h6 class="card-title"><b>Seja o herói desse caso.</b></h6>
                            <p class="card-text">Entre em contato:</p>
                            <button type="button" class="btn btn-primary" (click)="mostraWhats()">WhatsApp</button>
                            <button type="button" class="btn btn-primary" (click)="mostraEmail()">E-mail</button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" (click)="btn_voltar()">Voltar</button>
        </div>


        <div class="col-6">
            <div id="card-casos">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title"><b>CASO: </b></h6>
                            <p class="card-text">{{ caso.nome }}</p>
                            <h6 class="card-title"><b>DESCRIÇÃO: </b></h6>
                            <p class="card-text">{{ caso.descricao }}</p>
                            <h6 class="card-title"><b>VALOR: </b></h6>
                            <p class="card-text">R${{ caso.valor }}</p>
                            <h6 class="card-title"><b>Bichinho: </b></h6>
                            <img id=animal src="{{caso.imagem}}"/>
                            <!-- <img [src]="caso.imagem"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- MODAL WhatsApp-->
<ng-template #whatsapp>
    <div class="modal-body text-center">
        <h1>{{this.contato.celular | celular}}</h1>
        <button type="button" class="btn btn-primary" (click)="whatsappModalRef.hide()">Ok</button>
    </div>
</ng-template>

<!-- MODAL E-mail-->
<ng-template #email>
    <div class="modal-body text-center">
        <h1>{{ this.contato.email }}</h1>
        <button type="button" class="btn btn-primary" (click)="emailModalRef.hide()">Ok</button>
    </div>
</ng-template>

