<div class="principal">
    <div class="row align-items-center">
        <div class="col">
            <img align="left" src="/assets/conteudo/paw-print.svg" alt="">
            <h2>4 Patas</h2>
        </div>
        <div class="col">
            Bem vindo, Doador
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-danger"><span class="material-icons">
                    power_settings_new
                </span></button>
        </div>
    </div>


    <div class="row align-items-start">
        <h3>
            Casos cadastrados
        </h3>
    </div>

</div>

<div *ngFor="let caso of casos" id=interna>
    <div id="card-casos">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h6 class="card-title"><b>CASO: </b></h6>
                    <p class="card-text">{{ caso.nome }}</p>
                    <h6 class="card-title"><b>DESCRIÇÃO: </b></h6>
                    <p class="card-text">{{ caso.descricao }}</p>
                    <h6 class="card-title"><b>VALOR: </b></h6>
                    <p class="card-text">R${{ caso.valor }}</p>
                </div>
                <div class="col-md-1">
                    <a title="Detalhes" routerLink="/doador/detalhe/{{ caso.id }}" routerLinkActive="active"><span class="material-icons">
                        info
                    </span></a>
                </div>
            </div>
        </div>
    </div>
</div>