<app-header></app-header>
<div class="principal">
    <form [formGroup]="form" (ngSubmit)="enviarRecuperacaoSenha()">
        <label for="">Insira seu e-mail para recuperação da senha:</label>
        <br>
        <input id="email" name="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && temErro('email')}">
        <br>
        <button type="button" class="btn btn-secondary" (click)="btn_voltar()" data-toggle="modal" data-target="#exampleModal">Voltar</button>
        <button type="submit" class="btn btn-success">Enviar</button>
        <br>
        <label class="envioEmail" *ngIf="emailEnviado == true">E-mail de recuperação de senha enviado para: <b>{{ email }}</b></label>
        <label class="envioEmail" *ngIf="emailIncorreto == true">E-mail não encontrado: <b>{{ email }}</b></label>
    </form>
</div>