<app-header></app-header>
<div class="principal">
    <h3>Quero me cadastrar como: </h3>

    <button type="button" class="btn btn-primary" (click)="usuario('doador')">Doador</button>
    <button type="button" class="btn btn-primary" (click)="usuario('ong')">ONG</button>

    <div *ngIf="tipoUsuario == 'doador'">

        <form #doador="ngForm" (ngSubmit)="onSubmitDoador(doador)">

            <br><br>
            <h3>Dados pessoais</h3>
            <label>Nome Completo:</label>
            <input id="nome" type="text" class="form-control" name="nome" [(value)]="limpaCampos"
            ngModel pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" maxlength="55" required #nome>
            <br>
            <label>CPF:</label>
            <input class="form-control" name="cpf" ngModel 
            pattern="[0-9]{11}" maxlength="11" required #cpf>
            <br>
            <label>Celular:</label>
            <input name="celular" class="form-control" pattern="[0-9]{11}" 
            maxlength="11" ngModel required #celular>
            <br>
            <label>Data de nascimento:</label>
            <input type="date" name="data_nascimento" class="form-control" 
            ngModel required #data_nascimento>
            <br>
            <label>Cidade:</label>
            <input name="cidade" class="form-control" maxlength="55"
            ngModel required #cidade>

            <br><br>

            <h3>Dados para login</h3>
            <label>E-mail:</label>
            <input name="email" class="form-control" maxlength="55"
            ngModel required #email>
            <br>
            <label>Senha:</label>
            <input name="senha" type="password" minlength="6" maxlength="22" class="form-control" 
            ngModel required #senha>
            <br>

            <div *ngFor="let item of camposInvalidosTela">
                <p>{{ item.mensagem }}</p>
            </div>

            <div *ngIf="doadorCriado">
                <p>Doador criado com sucesso! Parabéns, você está no caminho certo para se tornar um herói.</p>
            </div>

            <div *ngIf="emailExiste">
                <p>Esse e-mail já está sendo utilizado.</p>
            </div>
            
            <button type="button" class="btn btn-secondary" (click)="btnVoltar()">Voltar</button>
            <button type="submit" class="btn btn-success">Cadastrar</button>

        </form>

    </div>

    <div *ngIf="tipoUsuario == 'ong'">
        <form #ong="ngForm" (ngSubmit)="onSubmitOng(ong)">
            <br><br>
            <h3>Dados da organização</h3>
            <label>Nome:</label>
            <input id="nome" type="text" class="form-control" name="nome" 
            ngModel pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" maxlength="55" required #nome>
            <br>
            <label>Quantidade de animais:</label>
            <input id="qtd_animais" class="form-control" name="qtd_animais" 
            ngModel pattern="[0-9]*" maxlength="4" required #qtd_animais>
            <br>
            <label>CEP:</label>
            <input id="cep" class="form-control" name="cep" 
            ngModel pattern="[0-9]*" minlength="8" maxlength="8" required #cep>
            <br>
            <label>Estado:</label>
            <input id="estado" type="text" class="form-control" name="estado" 
            ngModel pattern="[a-zA-Z]{2}" minlength="2" maxlength="2" required #estado>
            <br>
            <label>Cidade:</label>
            <input id="cidade" type="text" class="form-control" name="cidade" 
            ngModel pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" maxlength="55" required #cidade>
            <br>
            <label>Bairro:</label>
            <input id="bairro" type="text" class="form-control" name="bairro" 
            ngModel pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" maxlength="55" required #bairro>
            <br>
            <label>Rua:</label>
            <input id="rua" type="text" class="form-control" name="rua" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*" 
            ngModel maxlength="22" required #rua>
            <br>
            <label>Número:</label>
            <input id="numero" class="form-control" name="numero" 
            ngModel pattern="[0-9]*" maxlength="5" required #numero>
            <br>
            <label>Complemento:</label>
            <input id="complemento" type="text" class="form-control" name="complemento" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ0-9 ]*"
            ngModel maxlength="14" required #complemento>
            <br>
            <label>Celular:</label>
            <input id="celular" class="form-control" name="celular" 
            ngModel pattern="[0-9]*" minlength="11" maxlength="11" required #celular>
            <br>
            <label>E-mail:</label>
            <input id="email" type="text" class="form-control" name="email" 
            ngModel maxlength="55" required email #email>
            <br>
            <br>
            <h3>Dados para login</h3>
            <label>Login:</label>
            <input id="login" type="text" class="form-control" name="login" pattern="^[a-zA-Z0-9]*$"
            ngModel maxlength="55" required #login>
            <br>
            <label>Senha:</label>
            <input id="senha" type="password" class="form-control" name="senha" 
            ngModel minlength="6" maxlength="14" required #senha>
            <br>

            <div *ngFor="let item of camposInvalidosTelaOng">
                <p>{{ item.mensagem }}</p>
            </div>

            <div *ngIf="ongCriada">
                <p>Parabéns!! ONG criada com sucesso.</p>
            </div>

            <div *ngIf="loginExiste">
                <p>Esse login já está sendo utilizado.</p>
            </div>


            <button type="button" class="btn btn-secondary" (click)="btnVoltar()">Voltar</button>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</div>