<div class="principal">
    <h1>4 Patas</h1>
    <div>
        <h2>Faça seu login</h2>
    </div>
    <div>
        <input type="text" placeholder="ID">
        <br>
        <input type="password" placeholder="Senha">    
    </div>
    <div>
        <button class="button button2">Entrar</button>
    </div>
    <div>
        <span class="material-icons">login</span>
        <a routerLink="/cadastro">Não tenho cadastro</a>
        <br>
        <span class="material-icons">lock</span>
        <a routerLink="/esqueci">Esqueci a senha</a>
    </div>

</div>