<div class="principal">
    <h1>4 Patas</h1>
    <div>
        <h2>Faça seu login</h2>
    </div>
    <div>
        <input type="text" placeholder="ID">
        <br>
        <input type="password" placeholder="Senha">    
    </div>
    <div>
        <button type="button" class="btn btn-danger">Entrar</button>
    </div>
    <div>
        <span class="material-icons">login</span>
        <a routerLink="/cadastro" routerLinkActive="active">Não tenho cadastro</a>
        <br>
        <span class="material-icons">lock</span>
        <a routerLink="/senha" routerLinkActive="active">Esqueci a senha</a>
    </div>
</div>