<div class="principal">
    <div class="row align-items-center">
        <div class="col">
            <img align="left" src="/assets/conteudo/paw-print.svg" alt="">
            <h2>4 Patas</h2>
        </div>
        <div class="col">
            Bem vindo, ONG
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-danger" (click)="deslogar()"><span class="material-icons">
                    power_settings_new
                </span></button>
        </div>
    </div>


    <div class="row align-items-start">
        <h3>
            Cadastrar Caso
        </h3>
    </div>

    <form action="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Título do caso" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <textarea id="desc" class="form-control" placeholder="Descreva o caso detalhadamente aqui" id="floatingTextarea"></textarea>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Valor em reais(R$)" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <label>Se possível, insira uma imagem do bichinho</label>
        </div>
            <div class="input-group mb-3">
            <input type="file" class="form-control" (change)="onSelectFile($event)">
        </div>
        
        <button type="button" class="btn btn-secondary" (click)="btn_voltar()">Voltar</button>
        <button type="button" class="btn btn-primary">Cadastrar</button>
    </form>

</div>


